<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico" />
    <!-- 禁止缩放 -->
  <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
  <title>背单词小助手</title>
</head>

<body>
  <div style="display: none;" id="app">
    <div>
      <input v-model="inputValue" type="text" />
      <button style="margin-left: 10px;" @click="onAddBtnClick">添加</button>
    </div>
    <ul>
      <li v-for="word in wordList" :key="word.id">
        <span>{{ word.value }}</span>
        <button style="margin-left: 10px;" @click="onDeleteBtnClick(word)">X</button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./main.js"></script>
</body>

</html>