# Logs
.DS_Store
.cache
yarn-error.log

# Compiled binary addons
publish/
dist/
__pycache__
**/*.out
.parcel-cache

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Custom
_test/*
!_test/.gitkeep
.env
temp
cache
